In [2]:
import pandas as pd

In [4]:
pd.__version__

'1.1.3'

In [11]:
ser = pd.Series([0.25, 0.5, 0.75, 1.0]) # constructor method : 객체를 생성하는 메서드
print(ser)
print(ser.shape)

print(ser.index)

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64
(4,)
RangeIndex(start=0, stop=4, step=1)

In [14]:
ser = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
print(ser)

print(ser['b'])

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64
0.5

In [19]:
dict = {'a': 1, 2:'two', 'thrid':True} #dict{key1: value1, ...}
print(dict)

{'a': 1, 2: 'two', 'thrid': True}

In [21]:
population_dict = {'California' : 38332521,
                  'Texas' : 26448193,
                  'New York' : 19651127,
                  'Florida' : 19552860,
                  'Iilinois' : 12882135}
population = pd.Series(population_dict)
print(population)

print(population['California':'New York'])

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Iilinois      12882135
dtype: int64
California    38332521
Texas         26448193
New York      19651127
dtype: int64

In [25]:
ares_dict = {'California' : 423967, 'Texas' : 695662, 'New York' : 141297,
            'Florida' : 170312, 'Iilinois' : 149995}
area = pd.Series(ares_dict)
print(area)

California    423967
Texas         695662
New York      141297
Florida       170312
Iilinois      149995
dtype: int64

In [59]:
df = pd.DataFrame({'population' : population, 'area' : area})
print(df)

print(df.index)
print(df.columns)

area = df['population']
print(area)

            population      area
California    38332521  38332521
Texas         26448193  26448193
New York      19651127  19651127
Florida       19552860  19552860
Iilinois      12882135  12882135
Index(['California', 'Texas', 'New York', 'Florida', 'Iilinois'], dtype='object')
Index(['population', 'area'], dtype='object')
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Iilinois      12882135
Name: population, dtype: int64

In [36]:
import numpy as np

In [39]:
arr = np.random.rand(3, 2)
print(arr, '\n')

df = pd.DataFrame(arr, columns = ['foo', 'bar'], index=['2020-10-13','2020-10-14','2020-10-15'])
print(df)

[[0.91876855 0.42294552]
 [0.75046782 0.21405103]
 [0.651555   0.11001695]]

                 foo       bar
2020-10-13  0.918769  0.422946
2020-10-14  0.750468  0.214051
2020-10-15  0.651555  0.110017

In [41]:
ser = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
print(ser, '\n')

ser.keys()

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

Index(['a', 'b', 'c', 'd'], dtype='object')

In [62]:
print(df.values, '\n')
print(df.T, '\n')

print(df.iloc[:2, :2])
print(df.loc[states.d])

[[38332521 38332521]
 [26448193 26448193]
 [19651127 19651127]
 [19552860 19552860]
 [12882135 12882135]]

            California     Texas  New York   Florida  Iilinois
population    38332521  26448193  19651127  19552860  12882135
area          38332521  26448193  19651127  19552860  12882135

            population      area
California    38332521  38332521
Texas         26448193  26448193